language: node_js
node_js:
  - 13

services:
  - docker

# Pre-testing installs
install:
  - echo "nothing needs to be installed"

# Scripts to be run such as tests
before_script:
  - echo "no tests"

script:
  - docker --version # print the version for logging
  - docker build -t nodebaseimage udagram-api/base_image/
  - docker tag nodebaseimage eedy/nodebaseimage:v1

after_success:
  - echo "$DOCKERUB_TOKEN" | docker login -u "$DOCKER_NAME" --password-stdin
  - docker push eedy/nodebaseimage