apiVersion: v1
kind: Service
metadata:
  labels:
    app: reverseproxy
  name: reverseproxy
spec:
  ports:
  - name: "http"
    port: 8080
    targetPort: 8080
  selector:
    app: reverseproxy
  type: LoadBalancer
